<div
  class="admin-list-form">

  <a >
    <img
      (click)="auth.logOut()"
      class="log-out"
      src="../../../assets/images/logout.png"  alt="none">
  </a>

  <h1>List</h1>

  <input
    id="search"
    class="admin-search-post"
    placeholder="Search"
    type="text"
    [(ngModel)]="searchText"
  >
  >
  <div
    *ngFor="let user of usersInPost,let usId = index"
    class="posts-conteiner">
    <p
      class="User_name">
      {{user.name}}
    </p>
    <ng-container
      *ngFor="let posts of userPost,let  idPost = index"
    >
      <div
        *ngFor="let post of filterPosts(posts)"
      >
    <div
      [class.approved]="post.done"
      *ngIf="usId === idPost"
      (click)="selectPost(post)"
      class="post-wrapper"
    >
      <strong class="post-text">
      {{post.message}}
      </strong>

      <div
        class="bottom-post-text">
        <small
          class="post-time">
          {{post.hours | timeToNumber}}
        </small>

        <small
          class="post-date">
          {{post.date | date:'d MMM y\''}}
        </small>
      </div>
    </div>
      </div>
    </ng-container>
  </div>

</div>


