<div class="client-list-form">

  <a >
    <img
      (click)="auth.logOut()"
      class="log-out"
      src="../../../assets/images/logout.png" alt="none">
  </a>

<h1>List</h1>

  <button
    type="button"
    class="add-new-post-button"
    routerLink="/client/list/new"
  >
  New +
  </button>

  <input
    id="search"
    class="search-post"
    placeholder="Search"
    type="text"
    [(ngModel)]="searchText"
    >


<div class="posts-conteiner">
  <div
    class="post-wrapper"
    *ngFor="let item of  filterPosts(),let idx=index"
    [class.approved]="item.done"
    (click)="selectPost(item)"
    routerLink="/edit/{{idx}}"
  >
    <strong class="post-text">
      {{item.message}}
    </strong>

    <div
      class="bottom-post-text">
      <small
        class="post-time">
        {{item.hours | timeToNumber}}
      </small>

      <small
        class="post-date">
        {{item.date | date:'d MMM y\''}}
      </small>
    </div>
  </div>
  </div>

</div>


