.form-wrapper {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background-color: #1f1e22;

  h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 133%;
    text-align: center;
    margin-top: 2.9rem;
    color: #f6ead4;
  }

  input[type="Date"],
  input[type="Time"],
  textarea {
    height: 3.1rem;
    width: 16.75rem;
    margin: 0 auto;
    margin-top: 1.7rem;
    background: rgba(49, 47, 54, 1);
    border: none;
    border-radius: 6.7rem;
    -webkit-box-shadow: inset 0 0 0 2.5rem #312f36;
    -webkit-text-fill-color: #fff;

    color: #c1c0c2;
    font-style: normal;
    font-weight: 500;
    font-size: 0.95rem;
    line-height: 133%;
    padding: 0 1.5rem;
    margin-top: 1.75rem;

    &::placeholder {
      font-weight: 500;
      font-size: 0.95rem;
      line-height: 133%;
      color: #625f65;
      -webkit-text-fill-color: rgba(98, 95, 101, 1);
    }
    &[type="date"]::-webkit-calendar-picker-indicator {
      filter: invert(1) sepia(100%) saturate(10000%) hue-rotate(180deg);
    }
    &[type="time"]::-webkit-calendar-picker-indicator {
      filter: invert(1) sepia(100%) saturate(10000%) hue-rotate(180deg);
    }
    &[type="Date"] {
      margin-top: 3.05rem;
    }
  }

  textarea {
    resize: none;
    height: 11.8rem;
    border-radius: 1.85rem;
    padding: 1.35rem 0 0 1.65rem;
    &::placeholder {
    }
  }

  .form-input-wrapper {
    display: flex;
    flex-direction: column;
  }

  .activated-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin-top: 1.3rem;
  }

  .activated-post-label {
    color: #c1c0c2;
    font-style: normal;
    font-weight: 500;
    font-size: 0.95rem;
    line-height: 133%;
    padding: 0.5rem;
    order: 2;
  }
  .activated-post-checkbox {
    order: 1;
    width: 0.9rem;
    height: 0.9rem;
  }

  .checkbox-wrapper {
    display: flex;
    align-items: center;
  }

  .create-button,
  .edit-button {
    height: 3.1rem;
    width: 16.75rem;
    margin-top: 0.75rem;
    background: #686082;
    border-radius: 134px;
    border: none;
    color: #f6ead4;
    font-style: normal;
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 133%;

    &:disabled {
      cursor: not-allowed;
      color: #111;
      background: #6860824f;
    }
  }

  .submit-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 3.05rem;
  }
}

.modal-window-wrapper {
  z-index: 3;
  margin: 0 auto;
  position: relative;
  top: -28.6rem;
  width: 14rem;
  height: 8.65rem;
  background: #fafafa;
  box-shadow: 0 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12),
    0px 11px 15px rgba(0, 0, 0, 0.2);
  border-radius: 2px;

  p,
  small {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;
    color: rgba(0, 0, 0);
  }

  small {
    color: rgba(117, 117, 117, 1);
  }

  .accept-button,
  .cancel-button {
    width: 3.8rem;
    height: 1.55rem;
    background: rgba(104, 96, 130, 1);
    border-radius: 6.7rem;
    border: none;
    font-style: normal;
    font-weight: 800;
    font-size: 0.7rem;
    line-height: 133%;
    color: #f6ead4;
  }
  .cancel-button {
    border: none;
    background: #312f36;
    border-radius: 134px;
  }

  .modal-button {
    display: flex;
    justify-content: end;
    gap: 0.95rem;
    padding-right: 0.65rem;
  }
  .modal-text {
    padding: 1.2rem;
  }
}

.modal-effect {
  content: "";
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
