<form
  [formGroup]="Form"
  (ngSubmit)="submit()"
  class="form-wrapper"
>

  <h1
    *ngIf="showEdit">
    Edit
  </h1>
  <h1
    *ngIf="showCreate">
    Add new
  </h1>

  <div
    class="form-control"
  >
    <input
      id="date"
      formControlName="date"
      type="Date"
      class="form-date-input"
      placeholder="Date"
    >

  </div>
  <input
    formControlName="hours"
    id="time"
    type="Time"
    class="form-time-input"
    placeholder="Time">

  <textarea
    placeholder="Note"
    formControlName="message"
    class="form-text-input">
  </textarea>


  <label
    id="post-text"
    for="checkbox"
    class="checkbox-label">
    Is complete
  </label>

  <input
    formControlName="done"
    type="checkbox"
    class="form-checkbox-input"
    id="checkbox">

  <a *ngIf="showEdit">
    <img
      class="delete-button"
      alt="none"
      src="../../../assets/images/delete.png"
      (click)="modalOn()"
    >
  </a>

  <button
    [disabled]="Form.invalid"
    type="submit"
    *ngIf="showEdit"
    class="edit-button">
    Edit
  </button>

  <button
    [disabled]="Form.invalid"
    type="submit"
    *ngIf="showCreate"
    class="create-button">
    Create
  </button>

  <div class="modal-window-wrapper"
       *ngIf="modalActive"
  >
    <p>
      <strong>Delete task</strong>
      <small>Are you sure you want to delete this task?</small>
    </p>

    <div class="modal-button">
      <button
        (click)="modalOff()"
        class="cancel-button">
        No
      </button>

      <button
        (click)="delete(Form.value.id)"
        class="accept-button">
        Yes
      </button>

    </div>
  </div>
  <div
    class="modal-effect"
    *ngIf="modalActive"
  ></div>


</form>



